{% extends 'base.html'%}
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog B |{{article.title}} </title>
  </head>

  
 
  
  <body>
    <h1>Post Fetched from the Database</h1>
    {% block content%}
    <h3><a href="{% url 'create'%}">Click here</a>to create you post</h3>
 {% for item in blogs%}
    <h1>{{item.title}}</h1>
    <h3>its by {{item.author}} on the{{item.date}}</h3>
    <p>{{item.content}}</p>
       {% endfor%}
       
       
       {%for post in posts  %}
       
    <h3><a href="{% url 'create'%}">Click here</a>to create you post</h3>
    <P>written by <i>{{post.author}}</i> and posted on <b>{{post.date}}</b></P>
     
       <P>{{post.content}}</P>
         <br><br>   
          {% endfor%}
       {% endblock%}
    



  


  </body>
  </html>